pip~=25.2
attrs~=26.1.0
pytz~=2026.2
idna~=3.18
multidict~=6.7.1
propcache~=0.5.2
pydantic~=2.13.4
aiogram~=3.29.1
aiofiles~=25.1.0
magic-filter~=1.0.12
certifi~=2026.6.17
aiohttp~=3.14.1
yarl~=1.24.2
aiosignal~=1.4.0
frozenlist~=1.8.0
aiohappyeyeballs~=2.7.1
tornado~=6.1
tzlocal~=5.4.4
marshmallow~=4.3.0
python-dotenv~=1.2.2
annotated-types~=0.7.0
cachetools~=4.2.2
setuptools~=83.0.0
six~=1.17.0
APScheduler~=3.6.3
environs~=15.0.1